$blue-transparent: #e8f0f5;
$blue-light: #b3cde0;
$blue-light-medium: #6497b1;
$blue-medium: #005b96;
$blue-medium-dark: #03396c;
$blue-dark: #011f4b;
$white: #ffffff;
$black: #000000;
$gold: #d4af37;
$silver: #c0c0c0;
$bronze: #cd7f32;
