/* Colors */

$blue-light: #b3cde0;
$blue-light-medium: #6497b1;
$blue-medium: #005b96;
$blue-medium-dark: #03396c;
$blue-dark: #011f4b;
$white: #ffffff;
$black: #000000;

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Play|Playball&display=swap");

/* Screen Sizes */

$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-extra-large: 1200px;
